celery[librabbitmq,memcache,redis,auth,msgpack,yaml]
django==5.2.3
django-celery-results
django-filter
django-oauth-toolkit
djangorestframework
djangorestframework-simplejwt[crypto]
graphene-django
markdown